/* Default Variables */

$base-font-size: 15px;
$base-font-weight: 600;
$border-round-base: 0.2em;


html,
body {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 20px;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	font-family: Helvetica Neue, sans-serif;
}

