html:lang(en) {
  font-family: Arial, 'Microsoft JhengHei', 'Malgun Gothic', sans-serif, fontAwesome;
}

html:lang(ko) {
  font-family: Arial, 'Microsoft JhengHei', 'Malgun Gothic', Dotum, sans-serif, fontAwesome;
}

html:lang(ja) {
  font-family: Arial, Meiryo, 'Yu Gothic', 'Microsoft JhengHei', 'Malgun Gothic', sans-serif, fontAwesome;
}

html:lang(zh-cn) {
  font-family: Arial, 'Microsoft Yahei', NSimSun, 'Malgun Gothic', sans-serif, fontAwesome;
}

html:lang(zh-tw) {
  font-family: Arial, 'Microsoft JhengHei', PMingLiU, 'Malgun Gothic', sans-serif, fontAwesome;
}

.jd-pop {
  background-color: #fff;
  color: #000;
  text-align: left;
  line-height: 160%;
  font-size: 14px;
  margin: 0 auto;
  padding:0;
  max-width: 1024px;
  width: 85%;
}
.jd-pop-head {
  border-bottom: 2px solid black;
}
.jd-pop-head h1 {
  margin-top: 0px;
  text-align: center;
  padding: 20px 0 10px;
  font-size: 22px;
}
.jd-contents {
  padding: 18px 0;
  color: #666;
}
.jd-contents h2 {
  font-size: 18px;
  color: #3c3c3c;
  line-height: 26px;
}
.jd-contents p {
  font-size: 14px;
  margin-bottom: 15px;
}
.jd-contents ul,
.jd-contents ol {
  font-size: 14px;
  margin-bottom: 15px;
  padding-left: 15px;
}
.jd-contents ul li.en-only:not(:lang(en)) {
  display: none;
}
.jd-contents hr {
  margin: 15px 0;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.jd-pop-foot {
  padding: 10px 25px;
  color: #3c3c3c;
  text-align: center;
}
.jd-pop-foot .contact {
  text-align: center;
  margin-bottom:24px;
}

@media (max-width: 1080px) {
  .jd-pop {
    max-width: 768px;
  }
}
